version: "3.9"

volumes:
  repository-service-tuf-mq-data:
  repository-service-tuf-api-data:
  repository-service-tuf-storage:
  repository-service-tuf-keystorage:
  repository-service-tuf-settings:
  repository-service-tuf-redis-data:

services:
  rabbitmq:
    image: rabbitmq:3.10.7-management-alpine
    volumes:
     - "repository-service-tuf-mq-data:/var/lib/rabbitmq"
     - "repository-service-tuf-storage:/var/opt/repository-service-tuf/storage"
     - "repository-service-tuf-keystorage:/var/opt/repository-service-tuf/keystorage"
    ports:
      - 5672:5672
      - 15672:15672
    healthcheck:
      test: "exit 0"
    restart: always

  repository-service-tuf-api:
    image: repository-service-tuf-api:dev
    volumes:
      - repository-service-tuf-api-data:/data
    ports:
      - 80:80
    environment:
      - RSTUF_BOOTSTRAP_NODE=true
      - RSTUF_BROKER_SERVER="amqp://guest:guest@rabbitmq:5672"
      - RSTUF_REDIS_SERVER="redis://redis"
      - SECRETS_RSTUF_TOKEN_KEY="secret"
      - SECRETS_RSTUF_ADMIN_PASSWORD="secret"
    depends_on:
      rabbitmq:
        condition: service_healthy

  web:
    image: python:3.10-slim-buster
    command: python -m http.server -d /var/opt/repository-service-tuf/storage 8080
    volumes:
      - repository-service-tuf-storage:/var/opt/repository-service-tuf/storage
    ports:
      - "8080:8080"

  redis:
    image: redis:4.0
    volumes:
      - repository-service-tuf-redis-data:/data
    ports:
      - "6379:6379"

  repository-service-tuf-worker:
    build:
      context: .
    entrypoint: "watchmedo auto-restart -d /opt/repository-service-tuf-worker -R -p '*.py' -- supervisord -c supervisor-dev.conf"
    environment:
      - DATA_DIR=./data
      - RSTUF_STORAGE_BACKEND="LocalStorage"
      - RSTUF_KEYVAULT_BACKEND="LocalKeyVault"
      - RSTUF_LOCAL_STORAGE_BACKEND_PATH="/var/opt/repository-service-tuf/storage"
      - RSTUF_LOCAL_KEYVAULT_PATH="/var/opt/repository-service-tuf/keystorage"
      - RSTUF_BROKER_SERVER="amqp://guest:guest@rabbitmq:5672"
      - RSTUF_REDIS_SERVER="redis://redis"
      - RSTUF_WORKER_ID="dev"
    volumes:
      - ./:/opt/repository-service-tuf-worker:z
      - repository-service-tuf-storage:/var/opt/repository-service-tuf/storage
      - repository-service-tuf-keystorage:/var/opt/repository-service-tuf/keystorage
    ports:
      - "6900:6900"
    depends_on:
      rabbitmq:
        condition: service_healthy
    tty: true
    stdin_open: true
