[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = "*"
dynaconf = "*"
watchdog = "*"
cryptography = "*"
pynacl = "*"
redis = "*"
tuf = "==2.0.0"

[dev-packages]
tox = "*"
flake8 = "*"
coverage = "*"
black = "*"
isort = "*"
mypy = "*"
pytest = "*"
pretend = "*"

[requires]
python_version = "3.10"
