[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
watchdog = "*"
redis = "*"
tuf = "*"
dynaconf = {extras = ["ini"], version = "*"}
supervisor = "*"
securesystemslib = {extras = ["pynacl", "crypto"], version = "*"}
sqlalchemy = "*"
psycopg2 = "*"
alembic = "*"
pydantic = "*"
celery = "*"

[dev-packages]
tox = "*"
flake8 = "*"
coverage = "*"
black = "*"
isort = "*"
mypy = "*"
pytest = "*"
pretend = "*"
virtualenv = "*"
sphinx-rtd-theme = "*"
sphinx = "*"
sphinxcontrib-applehelp = "*"
sphinxcontrib-devhelp = "*"
sphinxcontrib-htmlhelp = "*"
sphinxcontrib-jsmath = "*"
sphinxcontrib-plantuml = "*"
sphinxcontrib-qthelp = "*"
sphinxcontrib-serializinghtml = "*"
pre-commit = "*"
bandit = "*"
myst-parser = "*"

[requires]
python_version = "3.10"
