[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = "*"
watchdog = "*"
cryptography = "*"
pynacl = "*"
redis = "*"
tuf = "*"
dynaconf = {extras = ["ini"], version = "*"}
supervisor = "*"
securesystemslib = "*"
sqlalchemy = "*"
psycopg2 = "*"
alembic = "*"
pydantic = "*"

[dev-packages]
tox = "*"
flake8 = "*"
coverage = "*"
black = "*"
isort = "*"
mypy = "*"
pytest = "*"
pretend = "*"
amqp = "*"
async-timeout = "*"
attrs = "*"
billiard = "*"
celery = "*"
certifi = "*"
cffi = "*"
charset-normalizer = "*"
click-didyoumean = "*"
click-plugins = "*"
click-repl = "*"
click = "*"
configobj = "*"
cryptography = "*"
deprecated = "*"
distlib = "*"
dynaconf = {version = "*", extras = ["ini"]}
filelock = "*"
idna = "*"
iniconfig = "*"
kombu = "*"
mccabe = "*"
mypy-extensions = "*"
pathspec = "*"
platformdirs = "*"
pluggy = "*"
prompt-toolkit = "*"
py = "*"
pycodestyle = "*"
pycparser = "*"
pyflakes = "*"
pynacl = "*"
pyparsing = "*"
pytz = "*"
redis = "*"
requests = "*"
securesystemslib = "*"
six = "*"
toml = "*"
tomli = "*"
tuf = "*"
typing-extensions = "*"
urllib3 = "*"
vine = "*"
virtualenv = "*"
watchdog = "*"
wcwidth = "*"
wrapt = "*"
sphinx-rtd-theme = "*"
sphinx = "*"
sphinxcontrib-applehelp = "*"
sphinxcontrib-devhelp = "*"
sphinxcontrib-htmlhelp = "*"
sphinxcontrib-jsmath = "*"
sphinxcontrib-plantuml = "*"
sphinxcontrib-qthelp = "*"
sphinxcontrib-serializinghtml = "*"
myst-parser = "*"
pre-commit = "*"
bandit = "*"

[requires]
python_version = "3.10"
