-i https://pypi.org/simple
alabaster==0.7.12
amqp==5.1.1 ; python_version >= '3.6'
async-timeout==4.0.2 ; python_version >= '3.6'
attrs==22.1.0
babel==2.11.0 ; python_version >= '3.6'
billiard==3.6.4.0
black==22.6.0
celery==5.2.7
certifi==2022.12.7 ; python_version >= '3.6'
cffi==1.15.1
cfgv==3.3.1 ; python_full_version >= '3.6.1'
charset-normalizer==2.1.1 ; python_full_version >= '3.6.0'
click==8.1.3 ; python_version >= '3.7'
click-didyoumean==0.3.0 ; python_full_version >= '3.6.2' and python_full_version < '4.0.0'
click-plugins==1.1.1
click-repl==0.2.0
configobj==5.0.6
coverage==6.4.4
cryptography==38.0.4
deprecated==1.2.13
distlib==0.3.5
docutils==0.17.1 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
dynaconf[ini]==3.1.11
filelock==3.8.0
flake8==5.0.4
identify==2.5.9 ; python_version >= '3.7'
idna==3.4 ; python_version >= '3.5'
imagesize==1.4.1 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
iniconfig==1.1.1
isort==5.10.1
jinja2==3.1.2 ; python_version >= '3.7'
kombu==5.2.4 ; python_version >= '3.7'
markdown-it-py==2.1.0 ; python_version >= '3.7'
markupsafe==2.1.1 ; python_version >= '3.7'
mccabe==0.7.0
mdit-py-plugins==0.3.3 ; python_version >= '3.7'
mdurl==0.1.2 ; python_version >= '3.7'
mypy==0.971
mypy-extensions==0.4.3
myst-parser==0.18.1
nodeenv==1.7.0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6'
packaging==22.0 ; python_version >= '3.7'
pathspec==0.9.0
platformdirs==2.5.2
pluggy==1.0.0
pre-commit==2.20.0
pretend==1.0.9
prompt-toolkit==3.0.36 ; python_full_version >= '3.6.2'
py==1.11.0
pycodestyle==2.9.1
pycparser==2.21
pyflakes==2.5.0
pygments==2.13.0 ; python_version >= '3.6'
pynacl==1.5.0
pyparsing==3.0.9
pytest==7.1.2
pytz==2022.6
pyyaml==6.0 ; python_version >= '3.6'
redis==4.4.0
requests==2.28.1 ; python_version >= '3.7' and python_version < '4'
securesystemslib==0.23.0
setuptools==65.6.3 ; python_version >= '3.7'
six==1.16.0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
snowballstemmer==2.2.0
sphinx==5.1.1
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-plantuml==0.24
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
toml==0.10.2
tomli==2.0.1
tox==3.25.1
tuf==2.0.0
typing-extensions==4.3.0
urllib3==1.26.13 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
vine==5.0.0 ; python_version >= '3.6'
virtualenv==20.16.3
watchdog==2.2.0
wcwidth==0.2.5
wrapt==1.14.1
supervisor==4.2.4
