name: CD

on:
  workflow_dispatch:
  push:
    tags:
      - v*

permissions:
  contents: write

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    outputs:
      release_id: ${{ steps.gh-release.outputs.id }}
    steps:
      - name: Checkout release tag
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
        with:
          ref: ${{ github.event.workflow_run.head_branch }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build and Export Docker Image
        uses: docker/build-push-action@v2
        with:
          context: .
          push: false
          tags: ghcr.io/kaprien/tuf-repository-service-worker:${{ github.ref_name }}
          outputs: type=docker,dest=/tmp/tuf-repository-service-worker.${{ github.ref_name }}.tar

      - id: gh-release
        name: Publish GitHub release candiate
        uses: softprops/action-gh-release@1e07f4398721186383de40550babbdf2b84acfc5
        with:
          name: ${{ github.ref_name }}-rc
          tag_name: ${{ github.ref }}
          body: "Release waiting for review..."
          files: /tmp/tuf-repository-service-worker.${{ github.ref_name }}.tar

      - name: Store build artifacts
        uses: actions/upload-artifact@3cea5372237819ed00197afe530f5a7ea3e805c8
        # NOTE: The GitHub release page contains the release artifacts too, but using
        # GitHub upload/download actions seems robuster: there is no need to compute
        # download URLs and tampering with artifacts between jobs is more limited.
        with:
          name: build-artifacts
          path: /tmp/tuf-repository-service-worker.${{ github.ref_name }}.tar

  release:
    name: Release
    runs-on: ubuntu-latest
    needs: build
    environment: release
    steps:
      - name: Fetch build artifacts
        uses: actions/download-artifact@fb598a63ae348fa914e94cd0ff38f362e927b741
        with:
          name: build-artifacts
          path: /tmp

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GPR_TOKEN }}

      - name: Publish Docker Image on GitHub Registry
        run: |
          docker load -i /tmp/tuf-repository-service-worker.${{ github.ref_name }}.tar
          docker push ghcr.io/kaprien/tuf-repository-service-worker:${{ github.ref_name }}
          docker tag ghcr.io/kaprien/tuf-repository-service-worker:${{ github.ref_name }} ghcr.io/kaprien/tuf-repository-service-worker:latest
          docker push ghcr.io/kaprien/tuf-repository-service-worker:latest

      - name: Finalize GitHub release
        uses: actions/github-script@c713e510dbd7d213d92d41b7a7805a986f4c5c66
        with:
          script: |
            await github.rest.repos.updateRelease({
              owner: context.repo.owner,
              repo: context.repo.repo,
              release_id: '${{ needs.build.outputs.release_id }}',
              name: '${{ github.ref_name }}',
              body: 'Docker Image available on [GitHub Packages](https://github.com/orgs/kaprien/packages/container/package/tuf-repository-service-worker)'
            })