name: CD

on:
  workflow_dispatch:
  push:
    tags:
      - v*

jobs:
  functional-latest:
    uses: vmware/repository-service-tuf/.github/workflows/functional.yml@main
    with:
      worker_version: dev
      api_version: latest
      cli_version: latest

  release:
    needs: functional-latest
    runs-on: ubuntu-latest

    steps:
    - name: Checkout release tag
      uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c
      with:
        ref: ${{ github.event.workflow_run.head_branch }}

    - uses: actions/setup-python@d27e3f3d7c64b4bbf8e4abfb9b63b83e846e0435
      with:
        python-version: '3.10'

    - name: Set up QEMU
      uses: docker/setup-qemu-action@e81a89b1732b9c48d79cd809d8d81d79c4647a18

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@8c0edbc76e98fa90f69d9a2c020dcb50019dc325

    - name: Login to GitHub Container Registry
      uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}

    # Cannot use output type docker local and push. Build and export and caches
    - name: Build and export
      uses: docker/build-push-action@c56af957549030174b10d6867f20e78cfd7debc5
      with:
        context: .
        tags: |
            ghcr.io/vmware/repository-service-tuf-worker:${{ github.ref_name }}
            ghcr.io/vmware/repository-service-tuf-worker:latest
        outputs: type=docker,dest=/tmp/repository-service-tuf-worker_${{ github.ref_name }}.tar
        cache-to: type=local,dest=/tmp/rstuf_worker_cache

    # Build and push using the local cache from above step
    - name: Build and push (using cache)
      uses: docker/build-push-action@c56af957549030174b10d6867f20e78cfd7debc5
      with:
        context: .
        push: true
        tags: |
            ghcr.io/vmware/repository-service-tuf-worker:${{ github.ref_name }}
            ghcr.io/vmware/repository-service-tuf-worker:latest
        cache-from: type=local,src=/tmp/rstuf_worker_cache

    - name: Publish GitHub Release
      uses: softprops/action-gh-release@de2c0eb89ae2a093876385947365aca7b0e5f844
      with:
        name: ${{ github.ref_name }}
        tag_name: ${{ github.ref }}
        body: "docker pull [ghcr.io/vmware/repository-service-tuf-worker:${{ github.ref_name }}](https://github.com/vmware/repository-service-tuf-worker/pkgs/container/repository-service-tuf-worker)"
        files: /tmp/repository-service-tuf-worker_${{ github.ref_name }}.tar
