name: CD

on:
  push:
    tags:
      - v*
  workflow_dispatch:
    inputs:
      api_version:
        description: "API Version"
        default: "latest"
        type: string
        required: False
      cli_version:
        description: "CLI Version"
        default: "latest"
        type: string
        required: False
      latest_tag:
         description: "Publish release as 'latest'"
         default: True
         type: boolean
         required: False

jobs:
  publish-container-image:
    uses: ./.github/workflows/publish_container.yml
    with:
      image_version: ${{ github.sha }}

  set-component-versions:
    needs: publish-container-image
    runs-on: ubuntu-latest
    outputs:
      api_version: ${{ steps.api_version.outputs.VERSION }}
      cli_version: ${{ steps.cli_version.outputs.VERSION }}

    steps:
      - id: api_version
        name: dynamic input worker version
        run: |
          if [[ "${{ inputs.api_version }}" == "" ]]; then echo "VERSION=latest" >> $GITHUB_OUTPUT; else echo "VERSION=${{ inputs.api_version }}" >> $GITHUB_OUTPUT;fi

      - id: cli_version
        name: dynamic input cli version
        run: |
          if [[ "${{ inputs.cli_version }}" == "" ]]; then echo "VERSION=latest" >> $GITHUB_OUTPUT; else echo "VERSION=${{ inputs.cli_version }}" >> $GITHUB_OUTPUT;fi

  functional-tests:
    needs: set-component-versions
    uses: repository-service-tuf/repository-service-tuf/.github/workflows/functional.yml@main
    with:
      worker_version: ${{ github.sha }}
      api_version: ${{ needs.set-component-versions.outputs.api_version }}
      cli_version: ${{ needs.set-component-versions.outputs.cli_version }}
    secrets:
      RSTUF_ONLINE_KEY: ${{ secrets.RSTUF_ONLINE_KEY }}

  release:
    runs-on: ubuntu-latest
    needs: functional-tests
    steps:
    - name: Login to GitHub Container Registry
      uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Add release branch/tag name
      run: |
        docker pull ghcr.io/repository-service-tuf/repository-service-tuf-worker:${{ github.sha }}
        docker tag ghcr.io/repository-service-tuf/repository-service-tuf-worker:${{ github.sha }} ghcr.io/repository-service-tuf/repository-service-tuf-worker:${{ github.ref_name }}
        docker push ghcr.io/repository-service-tuf/repository-service-tuf-worker:${{ github.ref_name }}

    # The workflow triggered by push tag v* will be empty, because that we check != False
    - name: Add release latest tag
      if: ${{ inputs.latest_tag != false }}
      run: |
        docker tag ghcr.io/repository-service-tuf/repository-service-tuf-worker:${{ github.sha }} ghcr.io/repository-service-tuf/repository-service-tuf-worker:latest
        docker push ghcr.io/repository-service-tuf/repository-service-tuf-worker:latest

    - name: Publish GitHub Release
      uses: softprops/action-gh-release@de2c0eb89ae2a093876385947365aca7b0e5f844
      with:
        name: ${{ github.ref_name }}
        tag_name: ${{ github.ref }}
        body: "docker pull [ghcr.io/repository-service-tuf/repository-service-tuf-worker:${{ github.ref_name }}](https://github.com/repository-service-tuf/repository-service-tuf-worker/pkgs/container/repository-service-tuf-worker)"
        files: /tmp/repository-service-tuf-worker_${{ github.ref_name }}.tar
