name: CD

on:
  workflow_dispatch:
  push:
    tags:
      - v*

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout release tag
      uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
      with:
        ref: ${{ github.event.workflow_run.head_branch }}

    - uses: actions/setup-python@v1
      with:
        python-version: '3.10'

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push
      uses: docker/build-push-action@v2
      with:
        context: .
        push: true
        tags: |
            ghcr.io/vmware/repository-service-tuf-worker:latest
            ghcr.io/vmware/repository-service-tuf-worker:${{ github.ref_name }}