name: Publish Container Image

on:
  workflow_dispatch:
    inputs:
      image_version:
        description: "Image version"
        default: "dev"
        type: string
        required: False
  workflow_call:
    inputs:
      image_version:
        description: "Image version"
        default: "dev"
        type: string
        required: False

jobs:
  publish_container_image:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout release tag
      uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab
      with:
        fetch-depth: 0
        ref: ${{ inputs.image_version }}

    - name: Set default Python version
      uses: actions/setup-python@bd6b4b6205c4dbad673328db7b31b7fab9e241c0
      with:
        python-version: '3.10'

    - name: Set up QEMU
      uses: docker/setup-qemu-action@2b82ce82d56a2a04d2637cd93a637ae1b359c0a7

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@ecf95283f03858871ff00b787d79c419715afc34

    - name: Login to GitHub Container Registry
      uses: docker/login-action@465a07811f14bebb1938fbed4728c6a1ff8901fc
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push
      uses: docker/build-push-action@3b5e8027fcad23fda98b2e3ac259d8d67585f671
      with:
        context: .
        push: true
        tags: |
          ghcr.io/repository-service-tuf/repository-service-tuf-worker:${{ inputs.image_version }}
        build-args: |
          RELEASE_VERSION=${{ inputs.image_version }}
