name: Publish Container Image

on:
  workflow_dispatch:
    inputs:
      image_version:
        description: "Image version"
        default: "dev"
        type: string
        required: False
  workflow_call:
    inputs:
      image_version:
        description: "Image version"
        default: "dev"
        type: string
        required: False

jobs:
  publish_container_image:
    permissions:
      contents: read
      packages: write
    runs-on: ubuntu-latest
    steps:
    - name: Checkout release tag
      uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
      with:
        fetch-depth: 0
        ref: ${{ inputs.image_version }}

    - name: Set default Python version
      uses: actions/setup-python@0a5c61591373683505ea898e09a3ea4f39ef2b9c
      with:
        python-version: '3.10'

    - name: Set up QEMU
      uses: docker/setup-qemu-action@68827325e0b33c7199eb31dd4e31fbe9023e06e3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@f95db51fddba0c2d1ec667646a06c2ce06100226

    - name: Login to GitHub Container Registry
      uses: docker/login-action@e92390c5fb421da1463c202d546fed0ec5c39f20
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push
      uses: docker/build-push-action@4a13e500e55cf31b7a5d59a38ab2040ab0f42f56
      with:
        context: .
        push: true
        platforms: linux/amd64,linux/arm64
        tags: |
          ghcr.io/repository-service-tuf/repository-service-tuf-worker:${{ inputs.image_version }}
        build-args: |
          RELEASE_VERSION=${{ inputs.image_version }}
